<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="ISO-8859-1">
  <title>Product Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

<ul class="block-list">
  <li class="details-list" th:href="@{/con}" > Congratulations</li>
  <li class="details-list" th:href="@{/products}"> Product Management</li>
</ul>
</body>
</html>